<div class="container">
 <div class="row">
   <% @payment_methods.each do |pm| %>
  <div class="col-4">
     <div class="card-payment-method-image " >
       <% if pm.photo? %>
        <%= cl_image_tag pm.photo, height: 300, width: 400 %>
        <% else %>
        <%= image_tag "stock-card.png", height: 300, width: 400 %>
        <% end %>

       <div class="card-infos">
         <div>
           <p class="card-uppercase"><%= pm.category %> </p>
           <%= link_to pm.card_nickname, payment_method_path(pm) %>
           <p class="card-date"><%= pm.expiry_date %> </p>
            <%= link_to payment_method_path(pm), method: :delete  do %>

            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>

         </div>
       </div>
     </div>
     </div>
   <% end %>
 </div>
  <br>
  <br>
  <div id="back" class="btn btn-primary">
    <%= link_to "add a Payment Method", new_payment_method_path   %>
  </div>

</div>

