<h2> <%= @payment_method.card_nickname %> </h2>

<p> <%= @payment_method.category  %></p>
<p> <%= @payment_method.bank  %></p>
<p> <%= @payment_method.expiry_date  %></p>
<p> <% if @payment_method.expiry_notification == true  %>
  You will be notified via email before your card expires. We will inform you of all subscriptions this may impact.
  <% else %>
  You chose not to be notified via email before your card expires.
  <% end %>
</p>

<% if @payment_method.photo? %>
<%= cl_image_tag @payment_method.photo %>
<% else %>
<%= image_tag "stock-card.png", height: 300, width: 400 %>
<% end %>

<div>
  <% if @subscriptions.count == 0 %>
  <h1> You don't have any subscriptions linked to this card</h1>
  <% else %>
  <h2> The subscriptions linked to this card are:</h2>
    <ul>
      <% @subscriptions.each do |sub|  %></p>
      <li>
        <%= link_to sub.name, subscription_path %>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>

  <div id="back" class="btn btn-primary">
    <%= link_to "all my payment methods", payment_methods_path %>
  </div>

  <div id="back" class="btn btn-primary">
    <%= link_to "all my subscripions", subscriptions_path %>
  </div>
