<div class="show-card container">
  <div class="main-container col-xs-12 col-md-6 col-md-offset-3">
    <div class="single-card">
      <% if @payment_method.photo? %>
      <%= cl_image_tag @payment_method.photo %>
      <% elsif @payment_method.category == "Visa"%>
        <%= image_tag "visa.jpg", height: 300, width: 400 %>
      <% elsif @payment_method.category == "Amex"%>
        <%= image_tag "amex.png", height: 300, width: 400 %>
      <% elsif @payment_method.category == "Paypal"%>
        <%= image_tag "paypal.png", height: 300, width: 400 %>
      <% elsif @payment_method.category == "Mastercard"%>
        <%= image_tag "master.jpg", height: 300, width: 400 %>
      <% end %>
    </div>

    <div class="square2">
      <h4> <%= @payment_method.card_nickname %> </h4>
    </div>

    <div class="field first">
      <h4>Payment type </h4> <p> <%= @payment_method.category %></p>
    </div>
    <div class="field second">
      <h4>Payment bank</h4>
      <p><%= @payment_method.bank %></p>
    </div>
    <div class="field third">
      <h4>Payment method expiry date </h4>
      <p><%= @payment_method.expiry_date  %></p>
       <% if @payment_method.expiry_notification == true  %>
        <p class="notify-me"><i class="fas fa-info-circle"></i> You will be notified via email before your card expires. We will inform you of all subscriptions this may impact.</p>
        <% else %>
        <p class="notify-me"> <i class="fas fa-info-circle"></i> You chose not to be notified via email before your card expires.</p>
        <% end %>
    </div>
    <div class="field forth">
      <% if @subscriptions.count == 0 %>
      <h4>You don't have any subscriptions linked to this card</h4>
      <% else %>
      <h4> The subscriptions linked to this card are: </h4>
      <div class="subscription-container ">
        <div class="row">
          <% @subscriptions.each do |sub|  %></p>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 entire-subscription">
            <div class="single-subscription">
              <div class="subsc-image">
                  <%= link_to  subscription_path(sub) do%>
                    <% if sub.name == "Amazon Prime" %>
                      <%= image_tag "amazon.png", alt: "amazon" %>
                    <% elsif sub.name == "Apple Music" %>
                      <%= image_tag "apple.png", alt: "apple" %>
                    <% elsif sub.name == "Dropbox" %>
                      <%= image_tag "dropbox.png", alt: "dropbox" %>
                    <% elsif sub.name == "iCloud" %>
                      <%= image_tag "icloud.png", alt: "icloud" %>
                    <% elsif sub.name == "LinkedIn" %>
                      <%= image_tag "linkedin.png", alt: "linkedin" %>
                    <% elsif sub.name == "Netflix" %>
                      <%= image_tag "netflix.png", alt: "netflix" %>
                    <% elsif sub.name == "Spotify" %>
                      <%= image_tag "spotify.png", alt: "spotify" %>
                    <% else %>
                      <%= image_tag "logosmall.png", alt: "logo" %>
                    <% end %>
                  <% end %>
                </div>
              <p> class="subsc-name"><%= link_to sub.name, subscription_path(sub) %></p>
          <% end %>
        </div> <!-- closing row -->
      </div>
      <% end %>
    </div>
  </div>
    <br>
      <div id="back" class="btn btn-primary">
        <%= link_to "My Profile", my_profile_path %>
      </div>

  </div>
</div>

<br>
<br>
<br>
<br>
