<p>Hi <%= @user.first_name %>,</p>

<p>This is a notification about your <%= @subscription.name %> charge of EUR <%= @subscription.cost%> that is coming up on <%= @subscription.payment_date %>. Please go on your <%= link_to subscription_url(@subscription), 'Subscriptions page' %> for more details. </p>

<p>Your Monetizeur</p>
