
<div class="container">
  <div class="row">
    <div class = " col-xs-12 col-md-12 offset-3">
      <br>
      <br>
      <%= simple_form_for(@user) do |f| %>
      <%= f.error_notification %>

      <div class = "form-group">
        <%= f.input :email, placeholder: 'Please enter your email'%>
        <%= f.input :first_name, placeholder: 'Please enter your first name' %>
        <%= f.input :last_name, placeholder: 'Please enter your last name' %>
        <%= f.input :dob, placeholder: "Please enter your date of birth", as: :string, input_html: { class: "datepicker-here" } %>


        <div class = "form-action">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>

