<h3> Your "lovely" friends using your subscriptions </h3>
<div class="parasites-container container">
  <div class="row">
    <% parasites.each do |para| %>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 single-parasite">

        <div class="para-avatar">
          <p class="initial"><%=  para.name[0,1] %></p>
        </div>
        <div class="para-details">
          <p class="para-name"><%=  para.name %> </p>
          <p class="para-subsc"><%= para.subscriptions.map{ |sub| sub.name }.join(", ") %></p>
        </div>
        <div class="deletefriend">
          <%= link_to "/parasites/#{para.id}", data: { confirm: 'Are you sure?' }, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>

        </div>
      </div>

    <% end %>
  </div>
</div>


<div id="back" class="btn btn-primary">
    <%= link_to "add a Friend", new_parasite_path   %>
</div>

