<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-main">
  <%= link_to subscriptions_path, class: "navbar-brand-main" do %>
    <%= image_tag "logosmall.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  <% if user_signed_in? == false %>
    <ul class="navbar-nav mr-auto">
      <li class= "nav-item-main"><%= link_to "Log in", new_user_session_path, class: "nav-link"%> </li>
      <li class= "nav-item-main"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %> </li>
    </ul>

  <% else %>

      <ul class="navbar-nav mr-auto">




        <div class="nav-link" id="notification">
        <% notify = false %>
        <% current_user.subscriptions.each do |n| %>
         <% notify = true if (n.notification_date && n.renewal_notification && n.notify_today?)  %>
        <% end %>

        <% if notify %>
          <div class="notify-circle"></div>
        <% end %>
       <!--    <div id="notice_wrapper">
            <a You have no notifications today</p> -->
        <div class="dropdown nav-link">
          <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell"></i>
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <% current_user.subscriptions.each do |n| %>
                 <!-- design notif card here -->
                  <% if n.notify_today? %>
                    <div class="dropdown-item">
                      <div class="notification-image">
                        <div class="notification-logo">
                        <% if n.name == "Amazon Prime" %>
                          <%= image_tag "amazon.png", alt: "amazon" %>
                        <% elsif n.name == "Apple Music" %>
                          <%= image_tag "apple.png", alt: "apple" %>
                        <% elsif n.name == "Dropbox" %>
                          <%= image_tag "dropbox.png", alt: "dropbox" %>
                        <% elsif n.name == "iCloud" %>
                          <%= image_tag "icloud.png", alt: "icloud" %>
                        <% elsif n.name == "LinkedIn" %>
                          <%= image_tag "linkedin.png", alt: "linkedin" %>
                        <% elsif n.name == "Netflix" %>
                          <%= image_tag "netflix.png", alt: "netflix" %>
                        <% elsif n.name == "Spotify" %>
                          <%= image_tag "spotify.png", alt: "spotify" %>
                        <% else %>
                          <%= image_tag "logosmall.png", alt: "logo" %>
                        <% end %>
                        </div>
                         <div style="width: 80px;">
                          <p class="notif-name"><%=  n.name %></p>
                         </div>
                         <div><p class="notif-cost"><%=  n.cost %> €</p></div>
                         <div><p class="notif-date"><%=  n.billing_date %></p></div>
                      </div>
                    </div>

                  <!-- until here -->
                <% end %>
              <% end %>
          </div>
        </div>
      </div>




        <li class="nav-item">
          <%= link_to "Calendar", calendar_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Analytics", analysis_path, class: "nav-link" %>
        </li>
        <li class="nav-item-main dropdown">
          <%= image_tag "avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

            <%= link_to "My Profile", my_profile_path, class: "dropdown-item" %>
            <%= link_to "My subscriptions", subscriptions_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>
