<h1> My spending Dashboard </h1>

<div>
  <% @sub_cat.each do |cat, sub_array| %>
    <li>
      <%= cat %>
      <%= sub_array.inject(0){|sum,x| sum + x.cost   } %>
    </li>
  <% end %>
</div>

<div>
  <br>
  <br>
  <% i = -2 %>
  <% 12.times do %>
  <p> <%= (Time.now + i.month).strftime("%B")%> <%= (Time.now + i.month).year %>
  <% @subscriptions_all.select{|sub| sub.subs_month(Date.today + i.month)}.group_by(&:category).each do |cat, sub_array| %>
      <%= cat %>
      <%= sub_array.inject(0){|sum,x| (sum + x.cost).round(2)   } %> EUR
    <% end %>
  <% i += 1 %>
</p>
  <% end %>
</div>


<div>
  <br>
  <br>
  <br>
  <br>

<%= line_chart Subscription.group_by_month(:creation_date).count %>

</div>
