<div class="banner">
  <div class="container">
    <h1>Welcome to Monetizeur</h1>
    <p>Enjoy full transparency of your subscriptions</p>
  </div>
</div>

<br>
<br>
<br>

<div class="product-features container">
  <div>
    <h3 class="features-title">Monetizeur features</h3>
  </div>
  <div class="all-features">
      <div class="single-feature first">
        <%= image_tag "feature-easy-subsc.png", height: 300, width: 400 %>
        <h4 class="feature-title"> Easily add subscriptions</h4>
        <p class="feature-info">Easily add and record your subscriptions</p>
      </div>
      <div class="single-feature second">
        <%= image_tag "feature-subsc-glance.png", height: 300, width: 400 %>
        <h4 class="feature-title"> Subscriptions at a glance</h4>
        <p class="feature-info">Access overviews that automatically calculate your spending and get an streamlined analysis</p>
      </div>
      <div class="single-feature third">
        <%= image_tag "feature-get-notified.png", height: 300, width: 400 %>
        <h4 class="feature-title"> Get notified</h4>
        <p class="feature-info">Always know when your next bill is coming with smart Monetizeur notifications</p>
      </div>
      <div class="single-feature last">
        <%= image_tag "feature-track-others.png", height: 300, width: 400 %>
        <h4 class="feature-title"> Track other users</h4>
        <p class="feature-info">See who is benefiting from your subscriptions and remind them they owe you a little present</p>
      </div>
  </div>
</div>
<div class="reviews">
  <p class="upcase">DON'T JUST TAKE IT FROM US</p>
  <p class="reviews-title">People <i class="fas fa-heart"></i> Monetizeur</p>
  <div class="reviews-all">
    <div class="review-single">
      <p class="reviews-content">"Very cool..used Monetizeur and found several subscriptions I did not know I was paying for. Now cancelled. Yes! #savingmoney"</p>
      <div class= "reviewer">
        <div class="reviewer-avatar">
          <%= image_tag "avatar1.jpg", height: 300, width: 400 %>
        </div>
        <div class="reviewer-name">
          <p>Nerea Pascual</p>
          <p id="website">@npdiaz</p>
        </div>
      </div>
    </div>

    <div class="review-single">
      <p class="reviews-content">"Monetizeur is awesome, saved me hundreds of dollars by finding an old blog host subscription I had forgotten about. I highly recommend it."</p>
      <div class= "reviewer">
        <div class="reviewer-avatar">
          <%= image_tag "avatar2.jpg", height: 300, width: 400 %>
        </div>
        <div class="reviewer-name">
          <p>Marie Loge</p>
          <p id="website">@marie.l</p>
        </div>
      </div>
    </div>

    <div class="review-single">
      <p class="reviews-content">"Monetizeur just cancelled a subscription for me that's been plaguing me for months. These guys kick ass (SaaS?). Check them out."</p>
      <div class= "reviewer">
        <div class="reviewer-avatar">
          <%= image_tag "avatar3.jpg", height: 300, width: 400 %>
        </div>
        <div class="reviewer-name">
          <p>Agnese Bockane</p>
          <p id="website">@agneseb</p>
        </div>
      </div>
    </div>

  </div>
</div>

<br>
<br>
<br>
