<% @subscriptions.each do |subscription| %>
  <div class="card-product">
    <div class="category  <%= subscription.category_color %>" id="wrapper">
      <p class="vertical"><%= subscription.category %></p>
    </div>
    <div class="card-image">
      <%= link_to  subscription_path(subscription) do%>
        <% if subscription.name == "Amazon Prime" %>
          <%= image_tag "amazon.png", alt: "amazon" %>
        <% elsif subscription.name == "Apple Music" %>
          <%= image_tag "applemusic.jpg", alt: "apple" %>
        <% elsif subscription.name == "Dropbox" %>
          <%= image_tag "dropbox.png", alt: "dropbox" %>
        <% elsif subscription.name == "iCloud" %>
          <%= image_tag "icloud.png", alt: "icloud" %>
        <% elsif subscription.name == "LinkedIn" %>
          <%= image_tag "linkedin.png", alt: "linkedin" %>
        <% elsif subscription.name == "Netflix" %>
          <%= image_tag "netflix.png", alt: "netflix" %>
        <% elsif subscription.name == "Spotify" %>
          <%= image_tag "spotify.jpg", alt: "spotify" %>
        <% else %>
          <%= image_tag "logo.png", alt: "logo" %>

        <% end %>
      <% end %>
    </div>
    <div class="card-product-infos" id="first">
      <p class="upcase name"><%= subscription.name %></p>
      <p class="price"><%= subscription.cost %>€</p>
      <p class="extra-info"><%= subscription.billing_date %> (<%= subscription.subscription_type%>)</p>
    </div>
    <div class="card-product-infos" id="second">
      <p class="extra-info">payed with <strong><%= subscription.payment_method.card_nickname %></strong></p>
      <p class="price"> <%= subscription.lifelong_cost %> €</p>
      <p class="extra-info">Total since <%= subscription.creation_date %></p>
    </div>
    <div class="card-product-infos" id="last">
      <%= simple_form_for subscription, url: subscription_update_notification_path(subscription) do |form| %>
        <% if subscription.renewal_notification == false %>
          <%= form.hidden_field :renewal_notification, value: true %>
          <%= form.button :button, class: "notification" do %>
            <%= image_tag "notification-off.png", alt: "bell", class: "bell", id:"notification-off" %>
          <% end %>
        <% else %>
          <%= form.hidden_field :renewal_notification, value: false %>
          <%= form.button :button, class: "notification" do %>
            <%= image_tag "notification-on.png", alt: "bell", class: "bell", id:"notification-off" %>
          <% end %>
        <% end %>
      <% end %>

      <div class="card-type dropdown">
        <p class="card-type dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</p>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Edit", edit_subscription_path(subscription), class: "dropdown-item" %>
          <%= link_to "Remove", subscription_path(subscription), method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    </div>
  </div>
<% end %>



<script type="text/javascript">
  var image_tracker = 'off';
  document.getElementById('notification-off').addEventListener('click', ()=> {
    console.log("hello")
    var bell = document.getElementById('notification-off');
    if (image_tracker == 'off'){
      bell.src = '<%= image_path("notification-on.png") %>';
      image_tracker = 'on';
    }else{
      bell.src = '<%= image_path("notification-off.png") %>';
      image_tracker = 'off';
    }
})
</script>

