<div class="wrapper-form">
  <div class="container">
    <div class="row">
    <div class = " col-xs-12  col-md-offset-3 col-md-6 col-md-offset-3">

  <%= simple_form_for(@subscription) do |f| %>
    <%= f.error_notification %>


      <%= f.input :name, label: 'Name of your service provider/Subscription',placeholder: 'Please enter your service provider: Netflix, Spotify, etc.' %>
      <%= f.input :subscription_type, label: 'Billing frequency',collection: ["Monthly", "Quarterly", "Biannually", "Annually"], selected: "Monthly" %>
      <%= f.input :billing_date, placeholder: 'Please add your billing date', as: :string, input_html: { class: "datepicker-here" } %>
      <%= f.input :renewal_notification %>
      <div  id="notif"  class="hidden">

      <%= f.input :notification_date, placeholder: 'Please choose a date to receive a reminder', as: :string, input_html: { class: "datepicker-here" } %>
        </div>

      <%= f.input :cost, label: 'Subscription cost', placeholder: 'Please enter your subscription amount', float: 'any' %>
      <%= f.input :creation_date, label: 'Subscription creation date',placeholder: 'Please choose your subscription start date', as: :string, input_html: { class:  "datepicker-here" } %>
      <%= f.input :category, placeholder: 'Please enter your subscription type', collection: ["News & Media", "Health & Wellness", "Streaming", "Sports & Leisure", "Social", "Shopping", "Food", "Technology", "Other"] %>
      <%= f.input :payment_method_id, collection: PaymentMethod.all, label_method: :card_nickname %>
    <div class = "form-action">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>


  <% end %>
    </div>

  </div>
  </div>
</div>
