
<div class="container">
<%= simple_form_for(@subscription) do |f| %>
  <%= f.error_notification %>

  <div class = "form-group">
    <%= f.input :name, placeholder: 'Please enter your service provider' %>
    <%= f.input :subscription_type, collection: ["Monthly", "Biannually", "Annually"] %>
    <%= f.input :cost, placeholder: 'Please enter your subscription amount' %>
    <%= f.input :creation_date, placeholder: 'Please choose your subscription start date', as: :string, input_html: { class:  "datepicker-here" } %>
    <%= f.input :category, placeholder: 'Please enter your subscription type', collection: ["Health & Wellness", "Streaming", "Sports & Leisure", "Other"] %>
    <%= f.input :renewal_notification %>
    <%= f.input :notification_date, placeholder: 'Please choose a date to receive a reminder', as: :string, input_html: { class: "datepicker-here" } %>
    <%= f.input :payment_method_id, placeholder: 'Please select your payment method' %>
  </div>

  <div class = "form-action">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>

<% end %>
