<div class="wrapper-form">
  <br>
  <br>
  <div class="container">
    <div class="row">
    <div class = " col-xs-12 col-md-6 offset-3">

  <%= simple_form_for(@subscription) do |f| %>
    <%= f.error_notification %>


      <%= f.input :name, label: 'Name of your service provider/Subscription', input_html: { style: "display: none;"} %>
      <%= f.input :name, placeholder: 'Enter subscription name', label: false, input_html: { id: "nameInput", class: "hidden" } %>
      <%= f.input :name, label: false, collection: ["Amazon Prime", "Apple Music", "Dropbox", "iCloud", "LinkedIn", "Netflix", "Spotify", "Add manually"], select: 'From ', prompt: 'Select your subscription', input_html: { id: "nameDropdown"} %>
      <%= f.input :subscription_type, label: 'Billing frequency',collection: ["Monthly", "Quarterly", "Biannually", "Annually"], selected: "Monthly" %>
      <%= f.input :billing_date, placeholder: 'Add your billing date', as: :string, input_html: { class: "datepicker-here" } %>
      <%= f.input :renewal_notification %>
      <div  id="notif"  class="hidden">

      <%= f.input :notification_date, placeholder: 'Choose date to receive reminder', as: :string, input_html: { class: "datepicker-here" } %>
        </div>

      <%= f.input :cost, label: 'Subscription cost', placeholder: 'Enter your subscription charge', float: 'any' %>
      <%= f.input :creation_date, label: 'Subscription creation date',placeholder: 'Choose subscription start date', as: :string, input_html: { class:  "datepicker-here" } %>
      <%= f.input :category, placeholder: 'Enter subscription type', collection: ["News & Media", "Health & Wellness", "Streaming", "Sports & Leisure", "Social", "Shopping", "Food", "Technology", "Other"] %>
      <%= f.input :payment_method_id, collection: PaymentMethod.all, label_method: :card_nickname %>
    <div class = "form-action">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>


  <% end %>
    </div>

  </div>
  </div>
</div>
