<h3 class="form-title">Create a new Subscription </h3>
<div class="wrapper-form">
  <br>
  <br>
  <div class="container">
    <div class="row">
    <div class = " col-xs-12 col-md-12 offset-12">

  <%= simple_form_for(@subscription) do |f| %>
    <%= f.error_notification %>


      <%= f.input :name, label: 'Name of your service provider/Subscription', input_html: { style: "display: none;"} %>
      <%= f.input :name, placeholder: 'Enter subscription name', label: false, input_html: { id: "nameInput", class: "hidden" } %>
      <%= f.input :name, label: false, collection: ["Amazon Prime", "Apple Music", "Dropbox", "iCloud", "LinkedIn", "Netflix", "Spotify", "Add manually"], select: 'From ', prompt: 'Select your subscription', input_html: { id: "nameDropdown"} %>
      <%= f.input :subscription_type, label: 'Billing frequency', collection: ["Monthly", "Quarterly", "Biannually", "Annually"], prompt: 'Select frequency' %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :billing_date, placeholder: 'Add your billing date', as: :string, input_html: { class: "datepicker-here", autocomplete: 'off' } %>
      <%= f.input :renewal_notification %>
      <div  id="notif"  class="hidden">
      <%= f.input :notification_date, placeholder: 'Choose date to receive reminder', as: :string, input_html: { class: "datepicker-here" } %>
        </div>

      <%= f.input :cost, label: 'Subscription cost', placeholder: 'Enter your subscription charge', float: 'any' %>
      <%= f.input :creation_date, label: 'Subscription creation date',placeholder: 'Choose subscription start date', as: :string, input_html: { class:  "datepicker-here", autocomplete: 'off' } %>
      <%= f.input :category, placeholder: 'Enter subscription type', collection: ["Media", "Wellbeing", "Streaming", "Leisure", "Social", "Shopping", "Food", "Technology", "Other"] %>
      <%= f.input :payment_method_id, collection: PaymentMethod.all, label_method: :card_nickname %>

    <div class = "form-action form-container">
      <%= f.button :submit, class: 'btn btn-primary form', id: 'back' %>
    </div>

  <% end %>
    </div>

  </div>
  </div>
</div>
<br>
<br>
<br>
