
<div class="container">
<%= simple_form_for(@subscription) do |f| %>
  <%= f.error_notification %>

  <div class = "form-group">
    <%= f.input :name, placeholder: 'Please enter your service provider' %>
    <%= f.input :subscription_type %>
    <%= f.input :cost, placeholder: 'Cost' %>
    <%= f.input :creation_date %>
    <%= f.input :category, placeholder: 'Please nter your subscription type' %>
    <%= f.input :renewal_notification %>
    <%= f.input :notification_date %>
    <%= f.input :payment_method_id, collection: PaymentMethod.all, label_method: :card_nickname %>
  </div>

  <div clas = "form-action">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>

<% end %>
