<div class="container">
  <div class="main-container-show">
    <div class="card-image-show" class="btn btn-primary">

        <% if @subscription.name == "Amazon Prime" %>
          <%= image_tag "amazon.png", alt: "amazon" %>
        <% elsif @subscription.name == "Apple Music" %>
          <%= image_tag "apple.png", alt: "apple" %>
        <% elsif @subscription.name == "Dropbox" %>
          <%= image_tag "dropbox.png", alt: "dropbox" %>
        <% elsif @subscription.name == "iCloud" %>
          <%= image_tag "icloud.png", alt: "icloud" %>
        <% elsif @subscription.name == "LinkedIn" %>
          <%= image_tag "linkedin.png", alt: "linkedin" %>
        <% elsif @subscription.name == "Netflix" %>
          <%= image_tag "netflix.png", alt: "netflix" %>
        <% elsif @subscription.name == "Spotify" %>
          <%= image_tag "spotify.png", alt: "spotify" %>
        <% else %>
          <%= image_tag "logosmall.png", alt: "logo" %>
        <% end %>
    </div>
    <div  id="wrapper-show">
      <%= cl_image_tag(@subscription.photo) %>
    </div>
    <div class="field zero">
      <% if @subscription.trial? == true %>
      <h4 style="color:red; font-weight: bold"> This is a Free Trial until <%= @subscription.trial_date_until %></h4>
      <% end %>
    </div>
    <div class="square">
      <h4 class="cost"><%= @subscription.cost %> EUR</h4>
      <p>(<%= @subscription.subscription_type %>)</p>
    </div>
    <div class="field first">
      <h4>Billing date</h4>
      <p><%= @subscription.billing_date %></p>
    </div>
    <div class="field second">
      <h4>Subscription started</h4>
      <% if @subscription.creation_date.present? %>
        <p><%= @subscription.creation_date %></p>
       <% else %>
        <p> Incomplete data set </p>
        <% end %>
    </div>
    <div class="field third">
      <h4>Total expenditure </h4>
      <% if @subscription.creation_date.present? %>
        <p><%= @subscription.lifelong_cost(Date.today - 10.years, Date.today) %></p>
       <% else %>
       <p> Incomplete data set </p>
      <% end %>
    </div>
    <div class="field forth">
      <h4>Category</h4>
      <p><%= @subscription.category %></p>
    </div>
    <div class="field fith">
      <h4>Card </h4>
      <% if @subscription.payment_method.present? %>
      <p><%= @subscription.payment_method.card_nickname %></p>
      <% else %>
      <p> no info </p>
      <% end %>
    </div>
    <div class="field sixth">
      <% if @subscription.renewal_notification == true %>
        <h4> Notifications: ON </h4>
        <p> Notification Date: <%= @subscription.notification_date %></p>
      <% else %>
        <h4> Notifications: OFF </h4>
      <% end %>
      </ul>
    </div>
    <div class="field seventh">
      <h4> Current Account Users </h4>
      <div class="Parasites-my-profile">
        <%= render "parasites", parasites: @subscription.parasites %>
      </div>
      <p>
        <%= simple_form_for @subscription, url: subscription_path(@subscription) do |f| %>
        <%= f.association :parasites, collection: @parasites_to_add, label: "Add a new parasite"  %>
        <%= f.submit %>
        <% end %>
      </p>
      <p id="back-little" class="btn btn-primary index add-friend">
      <%= link_to "Create a new friend", new_parasite_path(subscription_id: @subscription) %></p>
    </div>
  </div>
</div>
