<div class="container">
  <div class="main-container col-xs-12 col-md-6 col-md-offset-3">
    <div class="card-image2">
        <% if @subscription.name == "Amazon Prime" %>
          <%= image_tag "amazon.png", alt: "amazon" %>
        <% elsif @subscription.name == "Apple Music" %>
          <%= image_tag "applemusic.jpg", alt: "apple" %>
        <% elsif @subscription.name == "Dropbox" %>
          <%= image_tag "dropbox.png", alt: "dropbox" %>
        <% elsif @subscription.name == "iCloud" %>
          <%= image_tag "icloud.png", alt: "icloud" %>
        <% elsif @subscription.name == "LinkedIn" %>
          <%= image_tag "linkedin.png", alt: "linkedin" %>
        <% elsif @subscription.name == "Netflix" %>
          <%= image_tag "netflix.png", alt: "netflix" %>
        <% elsif @subscription.name == "Spotify" %>
          <%= image_tag "spotify.jpg", alt: "spotify" %>
        <% else %>
          <%= image_tag "logosmall.png", alt: "logo" %>
        <% end %>
    </div>
    <div class="square">
      <h4 class="cost"><%= @subscription.cost %> EUR</h4>
      <p>(<%= @subscription.subscription_type %>)</p>
    </div>
    <div class="field first">
      <h4>Billing date</h4>
      <p><%= @subscription.billing_date %></p>
    </div>
    <div class="field second">
      <h4>Subscription started</h4>
      <p><%= @subscription.creation_date %></p>
    </div>
    <div class="field third">
      <h4>Total spenditure since </h4>
      <p><%= @subscription.lifelong_cost %></p>
    </div>
    <div class="field forth">
      <h4>Category</h4>
      <p><%= @subscription.category %></p>
    </div>
    <div class="field fith">
      <h4>Card </h4>
      <p><%= @subscription.payment_method.card_nickname %></p>
    </div>
    <div>
      <h4>Parasites</h4>
      <ul>
        <% @subscription.parasites.each do |para| %>
          <li> <%=  para.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<h2> <%= @subscription.name %> </h2>

<p> You are currently spending <%= @subscription.cost %> EUR on a <%= @subscription.subscription_type %> basis. </p>

<p> Your <%= @subscription.name %> subscription is part of our  <%= @subscription.category %> category. (To check your spending in this category, visit your analysis tab)</p>

<p> Your subscription began on <%= @subscription.creation_date %> </p>

<p> Since your subscription started, you have spent <%= @subscription.lifelong_cost %>  EUR on <%= @subscription.name %>. </p>

<div>
<% if @subscription.renewal_notification == true %>
<h1> We will notify you on <%= @subscription.notification_date %> about your subscription renewal </h1>
 <% else %>
<h2> You have opted out of renewal notifications.</h2>
<% end %>

<ul>
<% @subscription.parasites.each do |para| %>

<li> <%=  para.name %></li>
<% end %>
</ul>

<p> The friends & family members who use your subscription services are:</p>

<%= link_to "add friend" , new_parasite_path(subscription_id: @subscription) %>


<%= simple_form_for @subscription, url: add_parasite_subscription_path do |f| %>
    <%= f.association :parasites  %>
    <%= f.submit %>
<% end %>

<p class="btn btn-primary">
    <%= link_to "remove friend", new_subscription_path   %> </p>

<%= @subscription.payment_method.card_nickname %>
<p> button to edit card </p>
