<div class="container">
  <div class="main-container col-xs-12 col-md-6 col-md-offset-3">
    <div class="image">
      <%= image_tag "netflix.png", alt: "netflix", class:"logo" %>
    </div>
    <div class="square">
      <h4 class="cost"><%= @subscription.cost %> EUR</h4>
      <p>(<%= @subscription.subscription_type %>)</p>
    </div>
    <div class="field first">
      <h4>Billing date</h4>
      <p><%= @subscription.billing_date %></p>
    </div>
    <div class="field second">
      <h4>Subscription started</h4>
      <p><%= @subscription.creation_date %></p>
    </div>
    <div class="field third">
      <h4>Total spenditure since </h4>
      <p><%= @subscription.lifelong_cost %></p>
    </div>
    <div class="field forth">
      <h4>Category</h4>
      <p><%= @subscription.category %></p>
    </div>
    <div class="field fith">
      <h4>Card </h4>
      <p><%= @subscription.payment_method.card_nickname %></p>
    </div>
    <div>
      <h4>Parasites</h4>
      <ul>
        <% @subscription.parasites.each do |para| %>
          <li> <%=  para.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


















<h2> <%= @subscription.name %> </h2>

<p> you spend <%= @subscription.cost %> EUR on a <%= @subscription.subscription_type %> basis </p>

<p> your <%= @subscription.name %> subscription is part of our  <%= @subscription.category %> category
  See planning your analysis tab to see how much you spend in this category this month.</p>

<p> Your subscription started on <%= @subscription.creation_date %> </p>

<p> Since your subscription started you spend <%= @subscription.lifelong_cost %>  EUR on <%= @subscription.name %> </p>

<div>
<% if @subscription.renewal_notification == true %>
<h1> We will notify you on the <%= @subscription.notification_date %> about your subscription renewal </h1>
 <% else %>
<h2> You chose not to have a subscription renewal notification</h2>
<% end %>


<p> current parasites  = </p>
<ul>
<% @subscription.parasites.each do |para| %>

<li> <%=  para.name %></li>
<% end %>
</ul>

<p> please help me make it pretttttyyyyy </p>

<p> Friends & family who use my subscription:</p>

<%= link_to "add friend" , new_parasite_path(subscription_id: @subscription) %>


<%= simple_form_for @subscription, url: add_parasite_subscription_path do |f| %>
    <%= f.association :parasites  %>
    <%= f.submit %>
<% end %>

<p> have to add delete parasites </p>

<%= @subscription.payment_method.card_nickname %>
<p> button to edit card </p>
