<div class="container">
  <div class="main-container">
    <div class="card-image2" class="btn btn-primary">

        <% if @subscription.name == "Amazon Prime" %>
          <%= image_tag "amazon.png", alt: "amazon" %>
        <% elsif @subscription.name == "Apple Music" %>
          <%= image_tag "apple.png", alt: "apple" %>
        <% elsif @subscription.name == "Dropbox" %>
          <%= image_tag "dropbox.png", alt: "dropbox" %>
        <% elsif @subscription.name == "iCloud" %>
          <%= image_tag "icloud.png", alt: "icloud" %>
        <% elsif @subscription.name == "LinkedIn" %>
          <%= image_tag "linkedin.png", alt: "linkedin" %>
        <% elsif @subscription.name == "Netflix" %>
          <%= image_tag "netflix.png", alt: "netflix" %>
        <% elsif @subscription.name == "Spotify" %>
          <%= image_tag "spotify.png", alt: "spotify" %>
        <% else %>
          <%= image_tag "logosmall.png", alt: "logo" %>
        <% end %>
    </div>
    <%= cl_image_tag(@subscription.photo) %>
    <div class="square">
      <h4 class="cost"><%= @subscription.cost %> EUR</h4>
      <p>(<%= @subscription.subscription_type %>)</p>
    </div>
    <div class="field first">
      <h4>Billing date</h4>
      <p><%= @subscription.billing_date %></p>
    </div>
    <div class="field second">
      <h4>Subscription started</h4>
      <p><%= @subscription.creation_date %></p>
    </div>
    <div class="field third">
      <h4>Total spenditure since </h4>
      <p><%= @subscription.lifelong_cost %></p>
    </div>
    <div class="field forth">
      <h4>Category</h4>
      <p><%= @subscription.category %></p>
    </div>
    <div class="field fith">
      <h4>Card </h4>
      <p><%= @subscription.payment_method.card_nickname %></p>
    </div>
    <div class="field sixth">
      <% if @subscription.renewal_notification == true %>
        <h4> Notification suvscription Renewal: Yes </h4>
        <p> Notification Date: <%= @subscription.notification_date %></p>
      <% else %>
        <h4> Notification suvscription Renewal: No </h4>
      <% end %>
      </ul>
    </div>
    <div class="field seventh">
      <h4>Your lovely friends using this app for "free" </h4>
      <ul>
        <% @subscription.parasites.each do |para| %>
          <li> <%=  para.name %>
            <%= link_to delete_parasite_subscription_path(parasite: para), method: :delete  do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
      <p id="back-little" class="btn btn-primary index">
        <%= link_to "Add Friend", new_parasite_path(subscription_id: @subscription) %></p>
      <p>
        <%= simple_form_for @subscription, url: add_parasite_subscription_path do |f| %>
        <%= f.association :parasites  %>
        <%= f.submit %>
        <% end %>
      </p>
    </div>
  </div>
</div>
